body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Segoe UI";
}
.question-block {
  min-width: 400px;
  width: 450px;
  max-width: 500px;
  min-height: 200px;
  height: auto;
  /* max-height: 350px; */
  border: black solid 1px;
  border-radius: 1em;
  box-shadow: 1px 1px 15px blue;
  padding: 20px;
  margin: 20px;
}
@media (max-width: 1080px) {
  .question-block {
    width: 90%;
    max-width: 95%;
  }
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 100%;
  height: auto;
}
h1 {
  font-size: 2em;
  margin: 0;
  font-weight: bolder;
}
div.alert {
  margin: 0.25em;
  font-weight: bolder;
}
div.quiz-name {
  text-align: center;
  width: 100%;
  min-width: 400px;
  margin: 0;
  font-size: 1.5em;
  font-variant: small-caps;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  height: fit-content;
  list-style-type: none;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  padding: 10px 20px;
  font-family: "Segoe UI";
  font-size: 1.15em;
}
input[type="radio"] {
  display: none;
}

li {
  margin: 10px;
  display: flex;
  justify-content: center;
}
li > label {
  display: inline-block;
  cursor: pointer;
  font-size: 1.75em;
  font-weight: normal;
  border: 0;
  box-shadow: 2px 2px 5px gray;
  border-radius: 1em;
  padding: 10px 20px;
  margin: 0px;
  text-align: center;
  background-color: darkblue;
  color: aliceblue;
  user-select: none;
}
li input[type="radio"]:checked + label {
  filter: brightness(70%);
}
label.submit {
  display: flex;
  justify-content: flex-end;
}
button {
  justify-self: left;
  background-color: red;
  color: white;
  font-size: 2em;
  padding: 0.5em 1em;
  border-radius: 0.75em;
  font-weight: bolder;
  margin-left: 1em;
  margin-top: 0.25em;
  border: solid 0;
}
